@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


html{
    scroll-behavior: smooth;
    font-size: 16px;
    overflow-x: hidden;
    background-color: #0A090D;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.4;
}
button{
    border-style: none;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: transparent;
}
li, a{
    text-decoration: none;
    list-style: none;
    transition: all 0.3s ease;
}
input{
    outline: none;
    border-style: none;
    background-color: transparent;
}
img{
    display: block;
    max-width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    gap: 150px;
}
