.estimate{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__container{
        max-width: 1200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 60px;
        h1{
            max-width: 510px;
            line-height: 1.2;
            font-family: "Manrope", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 2.25rem;
            color: #F2F2F2;
        }
    }
    &__body{
        display: flex;
        justify-content: space-between;
        gap: 60px;
    }
    &__info{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 36px;
    }
    &__phone-info{
        display: flex;
        justify-content: space-between;
        p{
            color: #E5E5E5;
            font-size: 1.125rem;
            line-height: 1.4;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    }
    &__file-info{
        display: flex;
        justify-content: space-between;
        p{
            max-width: 305px;
            color: #E5E5E5;
            font-size: 1.125rem;
            line-height: 1.4;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    }
    &__form{
        max-width: 360px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        input{
            border-bottom: 1px solid #3B3A3D;
            border: none;
            outline: none;
            color: #E5E5E5;
            font-size: 1.125rem;
            line-height: 1.4;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            &::placeholder{
                color: #E5E5E5;
                font-size: 1.125rem;
                line-height: 1.4;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
        }
    }
    &__upload{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__upload-button{
        display: flex;
        align-items: center;
        gap: 20px;
        height: 50px;
        width: fit-content;
        img{
            width: 24px;
            height: 24px;
        }
        p{
            color: #E5E5E5;
            font-size: 1.125rem;
            line-height: 1.4;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        &:hover{
            transform: scale(1.1);
        }
    }
    &__files{
        user-select: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        span{
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            transition: all ease 0.3s;
            &:hover{
                transform: scale(1.05);
            }
            p{
                z-index: 100;
                width: fit-content;
                color: #DFD1A7;
                font-size: 0.875rem;
                text-decoration: underline;
                transition: all ease 0.3s;
                line-height: 1.4;
            }
        }
    }
    &__submit{
        background-color: #DFD1A7;
        width: 210px;
        height: 46px;
        color: #393939;
        font-size: 0.875rem;
        font-weight: bold;
        &:hover{
            transform: scale(1.05);
        }
    }
}
