.survey-types{
    width: 100%;
    display: flex;
    justify-content: center;
    &__container{
        margin-inline: 20px;
        max-width: 1200px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 90px;
        h1{
            line-height: 1.2;
            font-family: "Manrope", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 2.25rem;
            color: #F2F2F2;
        }
    }
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 30px;
    }
    &__caption{
        max-width: 250px;
        line-height: 1.4;
        font-size: 1.125rem;
        color: #DFD1A7;
    }
    &__list{
        display: flex;
        flex-direction: column;
        max-width: 782px;
        width: 100%;
    }
    &__item{
        display: flex;
        justify-content: space-between;
        gap: 60px;
        padding-block: 30px;
        border-bottom: 1px solid #3B3A3D;
    }
    &__item-text{
        display: flex;
        flex-direction: column;
        gap: 20px;
        h3{
            color: #F2F2F2;
            font-size: 1.5rem;
            line-height: 1.4;
        }
        p{
            line-height: 1.6;
            font-size: 1.125rem;
            color: #E5E5E5;
            font-weight: normal;
        }
        button{
            z-index: 100;
            width: fit-content;
            color: #DFD1A7;
            font-size: 0.875rem;
            text-decoration: underline;
            transition: all ease 0.3s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    &__item-more{
        height: 0px;
        opacity: 0;
        z-index: -100;
        user-select: none;
        display: flex;
        flex-direction: column;
        gap: 30px;
        transition: all ease 0.2s;
        &.is-open{
            height: auto;
            opacity: 1;
            z-index: auto;
            user-select: text;
        }
    }
}
