.projects-showcase{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__container{
        margin-inline: 20px;
        max-width: 1200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 90px;
    }
    &__header{
        border-bottom: 2px solid #3B3A3D;
        min-height: 270px;
        display: flex;
        h1{
            width: 50%;
            line-height: 1.2;
            font-size: 2.25rem;
            color: #F2F2F2;
            font-family: "Manrope", sans-serif;
            font-style: normal;
            font-weight: bold;
        }
        .projects-showcase__stat{
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            text-align: center;
            align-items: center;
            p{
                font-size: 1.125rem;
                color: #848486;
                width: 95px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
            h1{
                font-size: 6rem;
                width: 64px;
            }
        }
    }
    &__body{
        display: flex;
        justify-content: space-between;
    }
    &__sidebar{
        max-width: 290px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 120px;
    }
    &__places{
        user-select: none;
        display: flex;
        flex-direction: column;
        gap: 30px;
        button{
            width: fit-content;
            line-height: 1.4;
            font-size: 1.5rem;
            color: #848486;
            height: 34px;
            padding-left: 28px;
            text-align: start;
            &:hover{
                transform: translateX(6px);
            }
            &.is-active{
                color: #F2F2F2;
                border-left: 2px solid #CDA177;
                transform: scale(1.05);
            }
        }
    }
    &__arrows{
        display: flex;
        gap: 45px;
        padding-left: 10px;
        button{
            width: 90px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .projects-showcase__arrow--next:hover{
            transform: translateX(6px);
        }
        .projects-showcase__arrow--prev:hover{
            transform: translateX(-6px);
        }
    }
    &__cards{
        display: flex;
        gap: 60px;
    }
    &__card{
        max-width: 360px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        img{
            cursor: pointer;
            user-select: none;
        }
        h2{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-style: normal;
            font-weight: bold;
            line-height: 1.4;
            font-size: 1.5rem;
            color: #F2F2F2;
        }
        p{
            color: #848486;
            font-size: 1.125rem;
            height: 40px;
            line-height: 1.6;
            border-bottom: 1px solid #3B3A3D;
        }
        .projects-showcase__card-more{
            height: 0px;
            opacity: 0;
            z-index: -100;
            user-select: none;
            display: flex;
            flex-direction: column;
            gap: 30px;
            transition: all ease 0.2s;
            line-height: 1.4;
            border: none;
            &.is-open{
                height: auto;
                opacity: 1;
                z-index: auto;
                user-select: text;
            }
        }
        button{
            z-index: 100;
            width: fit-content;
            color: #DFD1A7;
            font-size: 0.875rem;
            text-decoration: underline;
            transition: all ease 0.3s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}
